<form action="/roles/add" method="POST"class="form-register">
                    <h2 class="formtitulo">Ingrese nuevo Rol</h2>
                    <div class="contenedor1-inputs">
                    <div>
                        Nombre:
                    </div>
                    <div>
                        <input type="text1" name="nombre" placeholder="Nombre" class="input-100">
                    </div>
                    <div>
                        Nivel:
                    </div>
                    <div>
                        <input type="number" name="nivel" placeholder="Nivel" class="input-100">
                    </div>
                    <div>
                        <button>
                            Guardar
                        </button>
                    </div>
                    </div>
                    
</form>
