<div>
    <div>
        <div>
            <div>
                <form action="/roles/add" method="POST">
                    <div>
                        <input type="text" name="nombre" placeholder="Nombre">
                    </div>
                    <div>
                        <input type="number" name="nivel" placeholder="Nivel">
                    </div>
                    <div>
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  