<div>
    <div>
        <div>
            <div>
                <form action="/roles/edit/{{rol.id}}" method="POST">
                    <div>
                        <input type="text" value="{{rol.nombre}}" name="nombre" placeholder="Nombre" autofocus>
                    </div>
                    <div>
                        <input type="number" value="{{rol.nivel}}" name="nivel" placeholder="Nivel">
                    </div>
                    <div>
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  