<form action="/tasks/add" method="POST" class="form-register">
                    <h2 class="formtitulo">Ingrese nueva Tarea</h2>
                    <div class="contenedor1-inputs">
                    <div>
                        Titulo:
                    </div>
                    <div>
                        <input type="text1" name="titulo" placeholder="Titulo" class="input-100">
                    </div>
                    <div>
                        Descripci贸n:
                    </div>
                    <div>
                        <input type="text2" name="descripcion" placeholder="Descripci贸n" class="input-100">
                    </div>
                    <div>
                        Tiempo:
                    </div>
                    <div>
                        <input type="time" name="tiempo_tarea" class="input-100">
                    </div>
                    <div>
                        Tipo de tarea:
                    </div>
                    <div>
                        <select type="select" name="tipo_tarea" class="input-100">
                            <option value="Diaria">Diaria</option>
                            <option value="Ocasional" selected>Ocasional</option>
                        </select>
                    </div>
                    <div>
                        Observaci贸n:
                    </div>
                    <div>
                        <textarea type="textarea" name="observacion" placeholder="Observaci贸n" class="input-100"></textarea>
                    </div>
                    <div>
                        <button>
                            Guardar
                        </button>
                    </div>
                    </div>
</form>
