<div>
    <div>
        <div>
            <div>
                <form action="/tasks/add" method="POST">
                    <div>
                        <input type="text" name="titulo" placeholder="Titulo">
                    </div>
                    <div>
                        <input type="text" name="descripcion" placeholder="Descripción">
                    </div>
                    <div>
                        <input type="number" name="tiempo_tarea" placeholder="Tiempo de la tarea (horas)">
                    </div>
                    <div>
                        <select name="tipo_tarea">
                            <option value="d">Diaria</option>
                            <option value="o" selected>Ocasional</option>
                        </select>
                    </div>
                    <div>
                        <textarea name="observacion" placeholder="Observación"></textarea>
                    </div>
                    <div>
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  