<div>
    <div>
        <div>
            <div>
                <form action="/tasks/add" method="POST">
                    <div>
                        <input type="text" name="titulo" placeholder="Titulo">
                    </div>
                    <div>
                        <input type="text" name="descripcion" placeholder="Descripción">
                    </div>
                    <div>
                        <input type="time" name="tiempo_tarea">
                    </div>
                    <div>
                        <select name="tipo_tarea">
                            <option value="Diaria">Diaria</option>
                            <option value="Ocasional" selected>Ocasional</option>
                        </select>
                    </div>
                    <div>
                        <textarea name="observacion" placeholder="Observación"></textarea>
                    </div>
                    <div>
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  