<div>
    <div>
        <div>
            <div>
                <form action="/reports/byUser" method="POST">
                    <div>
                        <h3>Reporte de tareas por usuario</h3>
                    </div>
                    <div>
                        Usuario: <select name="usuarios">
                            {{#each usuarios}}
                                <option value="{{cedula}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        Desde: <input type="date" name="fecha_inicio">
                    </div>
                    <div>
                        Hasta: <input type="date" name="fecha_fin">
                    </div>
                    <div>
                        <button>
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  