<div class="logoTS">
    <img src="images/logoTaskSupervisor.png">
</div>
<div class=" w3l-login-form">
    <h2>Iniciar Sesión</h2>
    <!--<div id="login-error-msg-holder">
        <p id="login-error-msg">Usuario o contraseña incorrecto.</span></p>
    </div>-->
    <form id="login-form">

        <div class=" w3l-form-group">
            <label>Usuario:</label>
            <div class="group">
                <i class="fas fa-user"></i>
                <input id="cedula" type="text" class="form-control" placeholder="Cédula de usuario"/>
            </div>
        </div>
        <div class=" w3l-form-group">
            <label>Contraseña:</label>
            <div class="group">
                <i class="fas fa-unlock"></i>
                <input id="password" type="password" class="form-control" placeholder="Contraseña"/>
            </div>
        </div>
        <div class="forgot">
            <a href="#">¿Olvidó su contraseña?</a>
        </div>
        <button type="submit" value="Login" id="login-form-submit">Entrar</button>
    </form>
    <p class=" w3l-register-p">¿Su usuario aún no ha sido creado?<a href="#" onclick="datosAdmin();return false;" class="register"> Contacte a su administrador</a></p>
</div>