

   <div class="container3">
      <div class="forms-container">
        <div class="signin-signup">
          <form id="login-form" method="POST" action="index" class="sign-in-form">
    <h2 class="title">Iniciar Sesión</h2>
    

        
            
            <div class="input-field">
              <i class="fas fa-user"></i>
                <input id="cedula" name="cedula" type="text" class="form-control" placeholder="Cédula de usuario" required/>
            </div>
        
            
            <div class="input-field">
              <i class="fas fa-lock"></i>
                <input id="password" name="password" type="password" class="form-control" placeholder="Contraseña" required/>
            </div>

            
        
        
        <br><button type="submit" value="Login" id="login-form-submit">Entrar</button>

        </div>
        

    </form>
    
</div>
</div>
</div>