<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskSupervisor</title>
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    {{!-- CSS --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesbootstrap.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/olton/Metro-UI-CSS/master/build/css/metro-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    
    
    {{!-- Iconos --}}
</head>

<body>
    

    {{> navigation}}

    {{> message}}

    {{{ body }}}     {{!-- Es decir que el digo solo cambiara en esta seccion,el cuerpo --}}
    
</body>

<footer>
    <p class="copyright-agileinfo"> &copy; 2021. Todos los derechos reservados | Desarrollado por BlackCode <img src="/images/Logo_BlackCode.jpeg"></p>
</footer>

</html>
