body {
    margin: 0;
    padding: 0;
    background: #c8d8df
}
.logoTS{
    width: 100%;
}
.logoTS img{
    display: table;
    margin: 0 auto;
    width: 300px;
    letter-spacing: 2px;
    padding: 30px;
}
h1 {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 50px 0;
}

h2 {
    margin: 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border: #000;
  }
  
#login-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
  }
  

p.w3l-register-p {
    color: #eee;
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
}

.w3l-login-form {
    background: #3e5592;
    max-width: 500px;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
}

.group {
    display: flex;
    padding: 15px 5px;
    background-color: #ffffff;
}

.group i {
    color: #2B2D42;
    font-size: 20px;
    padding: 0 10px;
}

.w3l-form-group {
    margin: 20px 0;
}

.w3l-form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #d2d2d2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

button {
    background: #2B2D42;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

button:hover {
    background-color: #00BCD4;
    transition-duration: 5s;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

a {
    color: #eee;
    font-size: 14px;
    text-decoration: none;
}

.forgot p {
    color: #ffffff;
    text-align: center;
    margin: 0px;
	font-size: 13px;
}

.register {
    color: #00BCD4;
    text-decoration: none;
}

/*--footer--*/

p.copyright-agileinfo {
    font-size: 15px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

p.copyright-agileinfo img{
    width: 30px;
    filter: grayscale(1);
}

footer p a {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

footer {
    padding: 4em 0;
    text-align: center;
}
/*--//footer--*/

/*-- /responsive design --*/

@media(max-width:768px) {
    h1 {
        font-size: 47px;
    }
}

@media(max-width:667px) {
    h1 {
        font-size: 45px;
    }
}

@media(max-width:640px) {
    p.copyright-agileinfo {
        letter-spacing: 1px;
    }
    h1 {
        font-size: 43px;
    }
}

@media(max-width:568px) {
    h1 {
        font-size: 40px;
    }
    p.copyright-agileinfo {
        font-size: 14px;
    }
}

@media(max-width:480px) {
    .w3l-login-form {
    margin: 0 3vw;
}
    h1 {
        font-size: 38px;
    }
    p.copyright-agileinfo {
        line-height: 1.8em;
    }
}

@media(max-width:414px) {
    h1 {
        font-size: 34px;
    }
}

@media(max-width:384px) {
    h1 {
        font-size: 30px;
    }
}

@media(max-width:320px) {
    h1 {
        font-size: 25px;
    }
    .forgot p {
        text-align: left;
    }
    .forgot {
        display: block;
    }
}

/*-- /responsive design --*/

.w4l-login-form {
    background: #3e5592;
    max-width: 500px;
    max-height: 800px;
    margin:  auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.w4l-form-group {
    margin: 10px 0;
}

.w4l-form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #d2d2d2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]{
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

/*-- /menu design --*/
*, *:before, *:after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

li > ul {
	position: absolute;
	top:0;
	left: 100%;
	width: 250px;
	box-shadow: 3px 0 10px rgba(0,0,0,.2);
	-webkit-animation: aparecer .7s;
	display: none;
}

ul{
	list-style: none;
	background: #f3f3f3;
}

.container1{
	background: #f3f3f3;
	position: fixed;
	height: 100%;
	left: 0;
	width: 200px;
	top: 0;
	box-shadow: 3px 0 10px rgba(0,0,0,.2);
	-webkit-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
	z-index: 1000;
}

#menu_principal a, label{
	color: #868686;
	display: block;
	padding-left: 25px;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#menu_principal {
	padding-top: 50%;
}

#menu_principal li {
	height: 60px;
	line-height: 60px;
	position: relative;
	width: 100%;
}

#menu_principal > li {
	margin: 0 0 5% 0;
}

.boton{
	color: #fff;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 96%;
	top: 8px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	background: #64b4db;
	-webkit-transition: left .2s;
	-o-transition: left .2s;
	transition: left .2s;
	z-index: -1;
}

.boton:hover{
	left: 100%;
	cursor: pointer;
}

.invisible{
	left: -200px;
}

#menu_principal li:hover > a, #menu_principal li:hover > label{
	color: #fff;
	cursor: pointer;
	background-color: #64b4db;
}

nav ul li:hover > ul {
	display: inherit;
}

[id^=drop], .mif-expand-more{
	display: none;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}
  
.wrapper .main_content .header{
    text-align: right;
    padding: 20px;
    background: rgb(235, 235, 238);
    color: #242020;
    border-bottom: 1px solid #e0e4e8;
    box-shadow: 3px 0 10px rgba(0,0,0,.2);
}

.form-register{
    width:95%;
    max-width: 500px;
    margin-top: 100px;
    margin-left: 700px;
    background: white;
    border-radius: 7px;
}

.formtitulo{
      background: deepskyblue;
      color: #fff;
      padding: 20px;
      text-align: center;
      font-weight: 100;
      font-size: 30px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom: 5px solid crimson;
}

.contenedor-inputs{
      padding: 10px 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}

input[type="text1"],
input[type="text2"],
input[type="text3"],
input[type="password1"],
input[type="email"],
input[type="text6"],
select[type="select"],
input[type="date"]{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-48{
    width: 48%;
}

.input-100{
    width: 100%;
}

.btn-registrar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 14px;
}

.btn-registrar:active{
    transform: scale(1.05);
}
