{{#if success}}             {{!-- Todo este codigo esta en un solo archivo y se podra importar de una manera ordenada --}}
        <div>
            {{success}}
        </div>
{{/if}}
{{#if message}}             {{!-- Todo este codigo esta en un solo archivo y se podra importar de una manera ordenada --}}
        <div>
            {{message}}
        </div>
{{/if}}
