<nav id="navegador">      {{!-- Nos ayuda para centrar el contenido --}}
    
    {{#if user}}
    <div>
        <a href="/index">TaskSupervisor</a>
        <a href="/profile">{{user.nombre}} {{user.apellido}}</a>
    </div>
    <ul>
        {{#ifSmaller user.rol_id 2}}
        <li><a href="/auth">Usuarios</a></li>
        {{/ifSmaller}}
        <li><a href="/tasks">Tareas</a></li>
        <li><a href="#">Roles</a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
    {{/if}}
</nav>
