
<nav id="navegador">      {{!-- Nos ayuda para centrar el contenido --}}
    
    {{#if user}}
    
    <div class="wrapper">
        
        <div class="main_content">
            <div class="header">
                <h3>Bienvenido, {{user.nombre}} {{user.apellido}}</h3>
            </div>
        </div>
    </div>

    <div class="container1">
		
      
    <ul id="menu_principal">
        
        {{#ifSmaller user.rol_id 2}}
        <li>
            <label for="drop-0">   
                <a href="/index">Inicio</a>
			</label>    
        </li>
        <li>
            <label for="drop-1">
                <i class="bi bi-people-fill"></i>
                Usuarios
			</label>
            
            <ul>
                <li><a href="/auth/add">Agregar usuarios</a></li>
                <li><a href="/auth">Listar usuarios</a></li>
            </ul>
        </li>
        {{/ifSmaller}}
        <li>
        <label for="drop-2">
        <i class="bi bi-clipboard"></i>
            Tareas
        </label>
           
            <ul>
                <li><a href="/tasks/add">Agregar tareas</a></li>
                <li><a href="/tasks">Listar tareas</a></li>
            </ul>
        </li>
        <li>
        <label for="drop-3">
        <i class="bi bi-file-earmark-person"></i>
            Roles

        </label>
            <ul>
                <li><a href="/roles/add">Agregar roles</a></li>
                <li><a href="/roles">Listar roles</a></li>
            </ul>
        </li>
        {{#ifSmaller user.rol_id 2}}
        <li>
        <label for="drop-4">
        <i class="bi bi-journal-text"></i>
    
            Reportes

        </label>
            <ul>
                <li><a href="/reports/byUser">Reporte de tareas por usuario</a></li>
            </ul>
        </li>
        {{/ifSmaller}}
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
    </div>

    {{/if}}
</nav>
