<nav id="navegador">      {{!-- Nos ayuda para centrar el contenido --}}
    
    {{#if user}}
    <div>
        <a href="/index">TaskSupervisor</a>
        <a href="/profile">{{user.nombre}} {{user.apellido}}</a>
    </div>
    <ul>
        {{#ifSmaller user.rol_id 2}}
        <li>Usuarios
            <ul>
                <li><a href="/auth/add">Agregar usuarios</a></li>
                <li><a href="/auth">Listar usuarios</a></li>
            </ul>
        </li>
        {{/ifSmaller}}
        <li>Tareas
            <ul>
                <li><a href="/tasks/add">Agregar tareas</a></li>
                <li><a href="/tasks">Listar tareas</a></li>
            </ul>
        </li>
        <li>Roles
            <ul>
                <li><a href="/roles/add">Agregar roles</a></li>
                <li><a href="/roles">Listar roles</a></li>
            </ul>
        </li>
        {{#ifSmaller user.rol_id 2}}
        <li>Reportes
            <ul>
                <li><a href="/reports/byUser">Reporte de tareas por usuario</a></li>
                <li><a href="/reports/byState">Reporte de tareas por estado</a></li>
            </ul>
        </li>
        {{/ifSmaller}}
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
    {{/if}}
</nav>
